.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    margin-top: 150px;
    margin-bottom: 100px;
}

@media (max-width: 1100px) {
    .about-container {
        margin: 0;
        padding: 80px 15px 20px 15px; /* Top padding for navbar, bottom padding for spacing */

    }
}