@keyframes float{
    0% { /* Original position */
        transform: translate(0px);
    }
    50% { /* Move box up 20px */
        transform: translateY(-20px);
    }
    100% { /* Back to original position */
        transform: translateY(0px);
    }
}

.body-container {
    position: relative;
    display: inline-block;
    animation: float 6s ease-in-out infinite;
}

.body-container:hover {
    animation-play-state: paused; /* Pause animation on hover */
}

.body-container svg {
    width: 100%;
    height: auto;
    display: block; /* Removes inline spacing - Eliminates the extra whitespace below the SVG
        Makes it a block element - SVG takes up the full width of its container */
}

@media (max-width: 1100px) {
    .body-container {
        display: flex;
        animation: none; /* Stop floating at threshold */
        flex: 1;
    }

    .body-container svg {
        height: 100%;
    }
}

.content-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    overflow-x: hidden;  /* Prevents horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    position: absolute;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    border-radius: 55px; /* Match the SVG's rounded corners */
    font-family: "Outfit", sans-serif;
    z-index: 1;
}

.content-wrapper::-webkit-scrollbar {
    display: none;
}

.title-text {
    margin: 40px 0 20px 0;
    text-align: center;
    font-size: clamp(24px, 5vw, 36px); /* Responsive font size - min, 5% font scale, max */
}

.desc-text {
    margin: 5% 10%;
    text-align: left;
    font-size: clamp(14px, 2vw, 16px); /* Responsive font size - min, 2% font scale, max */
}

.about-text {
    line-height: 2.0;
}

.cert-list {
    list-style-type: disc; /* Bullet points */
}

.cert-list li {
    margin-bottom: 12px;
}

.comp-list {
    list-style-type: none; /* Bullet points */
}
.comp-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);  /* Underline */
}

.comp-list li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.about-footer {
    /* Spacing */
    margin-top: 40px;
    margin-left: -75px;
    margin-right: -75px;
    padding: 20px 50px 0; /* top right bottom left */

    /* Styling */
    border-top: 2px solid #333; /* Thicker, darker */
    font-size: 0.85rem; /* Smaller font */
    opacity: 0.5; /* More transparent */
}

.about-footer p {
    line-height: 1.5;
}

.footer-note {
    margin-top: 100px;
    text-align: center;
    font-size: .6rem; /* Smaller font */
}