@keyframes float{
    0% { /* Original position */
        transform: translate(0px);
    }
    50% { /* Move box up 20px */
        transform: translateY(-20px);
    }
    100% { /* Back to original position */
        transform: translateY(0px);
    }
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    animation: float 6s ease-in-out infinite;
    margin-top: 150px;
    margin-bottom: 100px;
}