@keyframes float{
    0% { /* Original position */
        transform: translate(0px);
    }
    50% { /* Move box up 20px */
        transform: translateY(-20px);
    }
    100% { /* Back to original position */
        transform: translateY(0px);
    }
}

.body-container {
    position: relative;
    display: flex;
    justify-content: center;
    animation: float 6s ease-in-out infinite;
    z-index: 1;
}

.body-contents{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title-text {
    position: absolute;
    top: 0;
    color: white;
    font-family: "Outfit", sans-serif;
}

/*
@media (max-width: 1100px) {
    .body-container {
        white-space: nowrap;
        height: 100%;
        width: 100%;
        overflow-x:hidden;
    }
}



.title-text h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
}

.desc-text {
    margin-left: -300px;
    text-align: left;
    font-size: 14px;
    max-width: 300px;
}
*/