@keyframes float{
    0% { /* Original position */
        transform: translate(0px);
    }
    50% { /* Move box up 20px */
        transform: translateY(-20px);
    }
    100% { /* Back to original position */
        transform: translateY(0px);
    }
}

.body-container {
    position: relative;
    display: inline-block;
    animation: float 6s ease-in-out infinite;
}

.content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 40px;
    color: white;
    height: 100%;
    width: 100%;
    font-family: "Outfit", sans-serif;
    overflow-y: auto; /* Enable vertical scrolling */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.title-text {
    margin: 40px 0 20px 0;
    text-align: center;
}

.desc-text {
    margin: 40px 40px 40px 40px;
    text-align: left;
}