.footer-container {
    background-color: #44475A;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2;
}

.footer-block-container {
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 0;
    padding-bottom: 40px; /* Space for .bbox */
}

.footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    z-index: 0;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.footer-content {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: initial; /* Center-align the content horizontally */
    position: absolute;
    gap: 10px; /* Add spacing between items */
    color: white;
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    font-size: 14px;
    z-index: 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 0;
    position: relative;
}

.bbox {
    display: flex;
    width: 125px;
    height: 25px;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.box-text {
    color: white;
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.copyright {
    color: white;
    font-family: "Outfit", sans-serif;
    font-size: 12px;
    margin: 0;
    padding-right: 20px;
    padding-bottom: 5px;
}

@media (max-width: 1100px) {
    .footer-block-container {
        flex-direction: column;
        gap: 1px;
        z-index: 0;
    }
}