@keyframes float {
    0% { /* Original position */
        transform: translate(0px);
    }
    50% { /* Move box up 20px */
        transform: translateY(-20px);
    }
    100% { /* Back to original position */
        transform: translateY(0px);
    }
}

.post-container {
    background-color: #5A5E77;
    border-radius: 50px;
    padding: 50px;
    height: 788px;
    width: 822px;
    min-height: 788px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: float 6s ease-in-out infinite;
}

.post-container:hover {
    animation-play-state: paused; /* Pause animation on hover */
}

.card-container {
    background-color: #1C1E21;
    border-radius: 50px;
    min-height: 177px;
    width: 722px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    gap: 54px;
}

.image-container {
    background-color: #49577E;
    border-radius: 50px;
    min-height: 177px;
    width: 201px;
}

.post-details {
    display: flex;
    gap: 55px;
    align-items: center;
    margin-bottom: 50px;
    z-index: 2;
    position: absolute;
    top: 50px;
}

/* Temporary settings until responsive design is implemented */
@media (max-width: 1100px) {
    .post-body {
        display: none;
        animation: none;
    }

    .post-details {
        display: none;
    }
}