@keyframes float {
    0% { /* Original position */
        transform: translate(0px);
    }
    50% { /* Move box up 20px */
        transform: translateY(-20px);
    }
    100% { /* Back to original position */
        transform: translateY(0px);
    }
}

.post-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-top: 170px;
    margin-bottom: 100px;
}

.post-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 800px;
    height: 800px;
    animation: float 6s ease-in-out infinite; /* Apply floating animation */
}

.post-body:hover {
    animation-play-state: paused; /* Pause animation on hover */
}

.post-details {
    display: flex;
    gap: 55px;
    align-items: center;
    margin-bottom: 50px;
    z-index: 2;
    position: absolute;
    top: 50px;
}

/* Temporary settings until responsive design is implemented */
@media (max-width: 1100px) {
    .post-body {
        display: none;
        animation: none;
    }

    .post-details {
        display: none;
    }
}