.bg-square-top {
    display: flex;
    position: absolute;
    top: 0;
    z-index: 0;
}

.bg-square-bottom {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}


@media (max-width: 900px) {
    .bg-square-top {
        display: flex;
        top: 0;
        position: absolute;
        height: 100%;
        z-index: 0;
    }

    .bg-square-bottom {
        display: flex;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
}