.bg-square-top {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    pointer-events: none;
}

.bg-square-bottom {
    display: flex;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: -2;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    pointer-events: none;
    max-height: 45%;
}


@media (max-width: 1100px) {
    .bg-square-top {
        display: flex;
        top: 0;
        position: absolute;
        height: auto;
        z-index: 0;
    }

    .bg-square-bottom {
        display: flex;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}