.body {
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg-container {
    display: flex;
    position: relative;
    align-items: flex-end;
    z-index: 0;
}

.bg-container-2 {
    display: flex;
    position: relative;
    justify-content: flex-end;
    z-index: 0;
}

.portrait-container {
    padding: 20px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transform: translate(0px, -150px);
    z-index: 1;
}

.portrait-img {
    position: absolute;
}

/************* Name Tag ****************/

.name-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -150px;
}

.name-tag-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    text-align: center;
    top: 10px;
}

.name-tag-text {
    color: white;
    font-family: "Outfit", sans-serif;
    font-size: 30px;
}

.name-tag-subtext {
    color: white;
    font-family: "Outfit", sans-serif;
    font-size: 10px;
}

/************* Post ****************/
.post-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: -85px;
    gap: 50px;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 2;
}

.post-title {
    position: absolute;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    color: white;
}

@media (max-width: 900px) {
    .body {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .BG-Square {
        display: flex;
        height: 100%;
    }

    .BG-Square-2 {
        display: flex;
        height: 100%;
    }

    .post-container {
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .post {
        position: relative;
    }
    .post-header {
        position: absolute;
        flex-direction: column;
        align-items: center;
        gap: 210px;
        top: 0;
    }
    .post-title {
        position: absolute;
    }
}
