.bg-container {
    display: flex;
    position: relative;
    align-items: flex-end;
    z-index: 0;
}

.bg-container-2 {
    display: flex;
    position: relative;
    justify-content: flex-end;
    z-index: 0;
}