.footer-container {
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #44475A;
    z-index: 100;
}

.footer-block {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.footer-content {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

@media (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        gap: 1px;
    }
}

