/* --------------- Navbar --------------- */

.navbar a {
    text-decoration: none;
}

.navbar {
    background-image: url(/src/assets/navbar/NavbarContainer.svg);
    height: 63px;
    display: flex;
    width: 100%;
    padding-left: 50px;
    align-items: center;
    box-sizing:border-box;
    overflow-x: auto;
}

@media (max-width: 900px) {
    .navbar {
        width: 100%;
        white-space: nowrap;
    }
    .navbar ul {
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        overflow-x: auto;
    }

    .navbar ul::-webkit-scrollbar {
        display: none;
    }
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    gap: 10px;
    justify-content: space-between;
}

.navbar ul li a:hover {
    color: black;
}

/* --------------- Logo --------------- */

.logo {
    background-image: url(/src/assets/navbar/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    flex-shrink: 0;
}

/* --------------- Home button --------------- */

.home-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 75px;
    height: 31px;
}

.home-text {
    z-index: 2;
    color: black;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    font-family: "Outfit", sans-serif;
}

.home-button {
    background-image: url("/src/assets/navbar/navButton.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 75px;
    height: 31px;
    z-index: 1;
}

/* --------------- Posts Button --------------- */

.post-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 75px;
    height: 31px;
}

.post-text {
    z-index: 2;
    color: black;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    font-family: "Outfit", sans-serif;
}

.post-button {
    background-image: url("/src/assets/navbar/navButton.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 75px;
    height: 31px;
    z-index: 1;
}

/* --------------- About Me --------------- */

.about-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 75px;
    height: 31px;
}

.about-text {
    z-index: 2;
    color: black;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    font-family: "Outfit", sans-serif;
}

.about-button {
    background-image: url("/src/assets/navbar/navButton.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 75px;
    height: 31px;
    z-index: 1;
}

/* --------------- Contact --------------- */

.contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 75px;
    height: 31px;
}

.contact-text {
    z-index: 2;
    color: black;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
}

.contact-button {
    background-image: url("/src/assets/navbar/navButton.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 75px;
    height: 31px;
    z-index: 1;
}

/* --------------- Search Button --------------- */

.search-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 32px;
    height: 32px;
    margin-right: 58px;
    margin-left: 35px;
}

.search-icon {
    width: 20px;
    height: 20px;
    background-image: url("/src/assets/navbar/search.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

.search-button {
    background-image: url("/src/assets/navbar/searchButtonBG.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 1;
}

/* --------------- Sign In Button --------------- */

.signin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 63px;
    overflow: hidden;
}

.signin-text {
    z-index: 2;
    color: black;
    font-size: 30px;
    font-family: "Olde English", sans-serif;
}

.signin-button {
    background-image: url("/src/assets/navbar/signInButton.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 80px;
    height: 63px;
    z-index: 1;
}