html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* --------------- Navbar --------------- */

.navbar a {
    text-decoration: none;
}

.navbar {
    background-image: url(/src/assets/navbar/NavbarContainer.svg);
    padding-right: 100px;
    height: 63px;
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing:border-box;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    gap: 10px;
}

/* --------------- Logo --------------- */


/* --------------- Home button --------------- */


.home-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 75px;
    height: 31px;
}

@font-face {
    font-family: "Outfit";
    src: url("/src/assets/fonts/Outfit-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.home-text {
    z-index: 2;
    color: black;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    font-family: "Outfit", sans-serif;
}

.home-button {
    background-image: url("/src/assets/navbar/navButton.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 75px;
    height: 31px;
    z-index: 1;
}

/* --------------- Posts Button --------------- */



/* --------------- About Me --------------- */

/* --------------- Contact --------------- */

/* --------------- Search Button --------------- */

.search-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 32px;
    height: 32px;
}

.search-icon {
    width: 20px;
    height: 20px;
    background-image: url("/src/assets/navbar/search.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

.search-button {
    background-image: url("/src/assets/navbar/searchButtonBG.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width:32px;
    height:32px;
    position: absolute;
    z-index: 1;
}

/* --------------- Quote --------------- */
