body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #282A36;
}

@font-face {
    font-family: "Outfit";
    src: url("/src/assets/fonts/Outfit-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Olde English";
    src: url("/src/assets/fonts/OldeEnglish.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
