html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #282A36;
    overflow-x: hidden;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    bottom: 0;
    width: 100%;
}

@font-face {
    font-family: "Outfit";
    src: url("/src/assets/fonts/Outfit-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Olde English";
    src: url("/src/assets/fonts/OldeEnglish.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}