name: genesis-ec2-deploy 
on: 
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: start deployment
        uses: bobheadxi/deployments@v1
        id: deployment
        with:
          step: start
          token: ${{ secrets.GITHUB_TOKEN }}
          env: prod

      - name: Connect Tailscale
        uses: tailscale/github-action@v4.1.0
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
    
      - name: SSH Remote Commands
        uses: appleboy/ssh-action@v1.2.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            cd ~/genesis
            git pull origin ${{ github.ref_name }}
            export NVM_DIR=/home/${{ secrets.USERNAME }}/.nvm
            source /home/${{ secrets.USERNAME }}/.nvm/nvm.sh
            npm install 
            npm run build
            sudo /usr/local/bin/deploy-website

      - name: GitHub Deployments
        uses: bobheadxi/deployments@v1.5.0
        if: always()
        with:
          step: finish
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          env: prod
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
          env_url: https://gsoulis.blog